@model IEnumerable<WebBanThuoc.Models.EF.Category>

@if (Model != null && Model.Any())
{
    <ul class="navbar_menu">
        @foreach (var item in Model)
        {
            if (item.KiHieu.Equals("trang-chu"))
            {
                item.KiHieu = "";
            }
            if (!string.IsNullOrEmpty(item.Link))
            {
                item.Ten = item.Link;
            }
            <li><a href="/@item.KiHieu">@item.Ten</a></li>
        }

        @*<li><a href="#">shop</a></li>
            <li><a href="#">promotion</a></li>
            <li><a href="#">pages</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="contact.html">contact</a></li>*@
    </ul>
}